<!DOCTYPE html>
<html>
<head>
    <title>Pirate Translation</title>
    <link rel="stylesheet" href="../static/pirate_format.css">
</head>
<body>
	<p>Translated:</p>
	<p>{{input_sentence}}</p>
	<p>Result:</p>
    <p>{{result_sentence}}</p>
    <br>
    <form action="/playagain">
    	<p>Want to play again?</p>
        <label><input type="radio" name="game" value="yes">Sure!</label>
        <label><input type="radio" name="game" value="no">No way.</label>
        <br>
        <input type="submit" value="Submit">
</body>
</html>