<!DOCTYPE html>
<html>
<head>
    <title>Pirate Translation</title>
    <link rel="stylesheet" href="../static/pirate_style.css">
    <style>
    	body {
    		background-image: url("../static/background.jpg");
    		background-size: cover;
    	}
	</style>
</head>
<body>
	<h1 class="headers"> Welcome to the Pirate Talk Generator! Ready? </h1>
	<img class="photo" src="../static/pirates.png">
	<br>
	<br>
	<br>
	<form action="/play">
		<input class="button" type="submit" value="Let's Play">
</body>
</html>